.keyword_ipt{
    width: 200px!important;
}
.search_bar_l,.search_btn{
    position: relative;
    top: -10px;
    height: 50px!important;
}
.house_item{
    padding: 0;
}
.page_box{
    width: 500px;
    margin: auto;
}
.pages{
    width: 30px;
    height: 20px;
    text-align: center;
    line-height:18px;
    /*border: 1px solid rgba(128, 128, 128, 0.49);*/
    border-radius: 2px;
    float: left;
    margin-left:30px ;

}

.page_active{
    background-color:var(--main-color);
    color: white!important;
    border: none;
}

.page_box li{
    float: left;
    margin: 10px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.page_box li:hover{
    background-color: var(--main-color);
    color: white;
}

.page_boxs{
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    /*border: 1px solid rgba(128, 128, 128, 0.49);*/
    border-radius: 2px;
    float: left;
    margin-left:30px ;
}


